.Dashed-Line{
    height:3px;
  background:
    radial-gradient(circle closest-side, #eae7e1 98%,#0000) 50%/20px 100%,
    linear-gradient(90deg,#eae7e1 50%,#0000 0)             50%/40px 100%;
}
.navbar{
    background-color: rgb(86,106,62);
}
.navbar img{
    filter: invert(86%) sepia(9%) saturate(534%) hue-rotate(3deg) brightness(87%) contrast(92%);
}
.navbar a{
    color: #c9bea6;
}
.top-95 {
  position: absolute;
  top: 95%;
}
.top-90 {
  position: absolute;
  top: 90%;
}
.postcard-title{

}
.postcard-text {
  position: absolute;
  top: 60%;
  width:55%;
  font-size: 1rem;
}
.top-5 {
  position: absolute;
  top: 5%;
}
.spacer{
    background-color: #4f6238;
    height: 75px;
/*box-shadow: 0px 10px 10px rgba(21, 21, 21, 0.5), 0px -10px 10px rgba(86,106,62, .5);*/
background-image:  linear-gradient(#2f3529 2px, transparent 2px), linear-gradient(90deg, #2f3529 2px, transparent 2px), linear-gradient(#2f3529 1px, transparent 1px), linear-gradient(90deg, #2f3529 1px, #4f6238 1px);

background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
z-index: 50;
}
.hero{
    background-color: #bbaf8d;
}

.hero-1{
  background-image: url(/Resources/Images/Postcard.png);
  background-size: cover;
  background-position: center;
}
.hero-1-sm{
  background-image: url(/Resources/Images/Postcard-no\ border.png);
  background-size: cover;
  background-position: center;
}
.hero-1-sm .text{
  background-color: rgba(247, 235, 226,0.6);
  border-radius: 10px;

}
.hero-2, .hero-3{
    background-color: rgb(187,	175,141);
}
body{
    background-color: #bbaf8d;
}
