.Dashed-Line{
    height:4px;
  background:
    radial-gradient(circle closest-side, #c9bea6 98%,#0000) 50%/40px 100%,
    linear-gradient(90deg,#c9bea6 50%,#0000 0)             50%/80px 100%;
}
.navbar{
    background-color: rgb(86,106,62);
}
.navbar img{
    filter: invert(86%) sepia(9%) saturate(534%) hue-rotate(3deg) brightness(87%) contrast(92%);
}
.navbar a{
    color: #c9bea6;
}
.top-95 {
  position: absolute;
  top: 95%;
}
.top-90 {
  position: absolute;
  top: 90%;
}
.top-5 {
  position: absolute;
  top: 5%;
}
.spacer{
    background-color: rgb(79, 98, 56);
    height: 75px;
 .box-shadow: 0px 10px 10px rgba(86,106,62, .25), 0px -10px 10px rgba(86,106,62, .25);
}
.hero{
    background-color: rgb(187,	175,141);
}