/* Fonts */
@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('/Resources/Fonts/HelveticaMedium.woff') format('woff');
  font-style: normal;
  font-weight: 250;
}
@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('/Resources/Fonts/HelveticaBold.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'HelveticaNeueBlack';
  src: url('/Resources/Fonts/HelveticaNeueBlackExt.woff') format('woff');
  font-style: normal;
  font-weight: 1000;
}

.text-bold
{
  font-family: 'HelveticaNeueBold', sans-serif;
}

.text-medium
{
  font-family: 'HelveticaNeueMedium', sans-serif;
}

.text-black
{
  font-family: 'HelveticaNeueBlack', sans-serif;
}

.dashed-line
{
    height:3px;
    background:
    radial-gradient(circle closest-side, #eae7e1 98%,#0000) 50%/20px 100%,
    linear-gradient(90deg,#eae7e1 50%,#0000 0)             50%/40px 100%;
}
.navbar{
    background-color: rgb(86,106,62);
}
.navbar img{
    filter: invert(86%) sepia(9%) saturate(534%) hue-rotate(3deg) brightness(87%) contrast(92%);
}
.navbar a{
    color: #c9bea6;
}

#Honk, #Team {
  scroll-margin-top: 64px;
}

#Home
{
  scroll-margin-top: 128px;
}

.top-95 {
  position: absolute;
  top: 95%;
}
.top-90 {
  position: absolute;
  top: 90%;
}
.postcard-title{

}
.postcard-text {
  position: absolute;
  top: 60%;
  width:55%;
  font-size: 1rem;
}
.top-5 {
  position: absolute;
  top: 5%;
}
.spacer{
    background-color: #4f6238;
    height: 75px;
    /*box-shadow: 0px 10px 10px rgba(21, 21, 21, 0.5), 0px -10px 10px rgba(86,106,62, .5);*/
    background-image:  linear-gradient(#2f3529 2px, transparent 2px), linear-gradient(90deg, #2f3529 2px, transparent 2px), linear-gradient(#2f3529 1px, transparent 1px), linear-gradient(90deg, #2f3529 1px, #4f6238 1px);

    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    z-index: 50;
}
.hero{
    background-color: #bbaf8d;
}

.hero-1{
  background-image: url(/Resources/Images/Postcard.png);
  background-size: cover;
  background-position: center;
}
.hero-1-sm{
  background-image: url(/Resources/Images/Postcard-no\ border.png);
  background-size: cover;
  background-position: center;
}
.hero-1-sm .text{
  background-color: rgba(247, 235, 226,0.6);
  border-radius: 10px;

}
.hero-2, .hero-3{
    background-color: rgb(187,	175,141);
}

body{
    background-color: #bbaf8d;
}

.honk-patch
{
  /*box-shadow: inset 2px 2px 3px 3px rgba(192, 192, 192, 0.25),
  inset -2px -2px 3px 3px rgba(192, 192, 192, 0.25);*/

  background: repeating-linear-gradient(
    32deg,
    #2f3529 1px,
    #2f3529 2px,
    #4f6238 3px,
    #4f6238 4px
  );
  border: 4px dashed #eae7e1;
  border-radius: 24px;
}

.honk-card
{
  height: 100%;
  padding: .5rem;
}

.honk-card-img
{
  box-sizing: border-box;
  width: 100%;
  object-fit: contain !important;
}

.card img
{
    width: 100%;
    height: auto;
}

.honk-card-body
{
  padding: 4px;
  background: repeating-linear-gradient(
    45deg,
    #ebce92,
    #ebce92 2px,
    #d6c08a 2px,
    #d6c08a 4px
  );

  border: 4px dashed #eae7e1;
  border-radius: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.honk-card-patch-title
{
  border-radius: 12px;
  padding: 4px;
  box-sizing: border-box;
  font-family:'Helvetica', Arial, sans-serif;
  font-weight: 1000 ;
  background: repeating-linear-gradient(
    64deg,
    #94a02f,
    #94a02f 1px,
    #646d20 1px,
    #646d20 4px
  );

  border: 4px dashed #eae7e1;
  border-radius: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.honk-card-title
{
    background-image: repeating-linear-gradient(
      0deg,
      #fff0a4,
      #fff0a4 1px,
      #fff0a4 1px,
      #fff0a4 2px
    );
    display: inline-block;
    width: 100%;

    text-align: center;

    font-size: 2em;
    text-transform:uppercase;

    color: transparent;
    background-clip: text;

    /* text-shadow: -1px -1px 10px rgb(0, 0, 0);*/
}

.honk-card-subtitle
{
    background-image: repeating-linear-gradient(
      0deg,
      #fff0a4,
      #fff0a4 1px,
      #fff0a4 1px,
      #fff0a4 2px
    );
    display: inline-block;
    width: 100%;

    text-align: center;

    font-size: 1em;
    text-transform:uppercase;

    color: transparent;
    background-clip: text;

    /* text-shadow: -1px -1px 10px rgb(0, 0, 0);*/
}

.honk-card-body p {
  background-image: repeating-linear-gradient(
    0deg,
    #141414,
    #141414 1px,
    #414141 1px,
    #414141 2px
  );
  color: transparent;
  background-clip: text;

  font-family:Arial, Helvetica, sans-serif;
}

.honk-card-img
{
  border-radius: 12px;
  background-color: #2f3529;
  border: 4px dashed #eae7e1;
  border-radius: 24px;
}

.card-text
{
    margin-top:4px;
    padding: 6px;

    text-align: left;
    justify-content: baseline;
}

.card-text p
{
  margin-top: 1px;
  margin-bottom: 5px;
}

.honk-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}